+++
title = "Landlord"
linkTitle = "Landlord"

+++

{{< blocks/cover title="Welcome to the VA Landlord Homepage!" image_anchor="top" height="full" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://ura2j.gitlab.io/netwit/landlord/rights/">
	Evictions Of Tenants <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://realestate.findlaw.com/landlord-tenant-law/security-deposits.html">
		Security Deposits<i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">  <a href="#"></a></p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>

{{< /blocks/cover >}}
